.blogdetailsviewMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.blogdetailsviewTile {
  font-size: 1.8em;
  font-weight: bold;
}

.blogDetailsViewDefaultActions {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  flex-wrap: wrap;
}

/*Edit*/

.blogDetailsEditImg {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  font-weight: normal;
  font-size: 0.7em;
}
