.blogdetailsviewMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.blogdetailsviewTile {
  font-size: 1.8em;
  font-weight: bold;
}
